body{

    /* background: #616161;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #9bc5c3, #616161); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #F7F8F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACBB78, #F7F8F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.logo{
    height: 400px;
    width: 400px;
    margin-top: 20px;
}

.logo-caption{
    font-family: 'Spicy Rice', cursive;
    font-size: 25px;
}