<!--Bootstrap 4 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<!-- FontAwesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">

<!-- Static CSS -->
<link rel="stylesheet" href="/css/main.css"/>

<!--Font Awesome-->
<link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet"> 